# Исключаем всю папку bitrix и upload, но оставляем важные части
bitrix/*
upload/*
mapp/
video/

# НЕ исключаем нужные директории
!bitrix/modules/aspro.next/
#!bitrix/templates/
!/upload/.htaccess
!/upload/index.php

# Исключаем кэш, логи и временные файлы в bitrix/
bitrix/cache/
bitrix/managed_cache/
bitrix/stack_cache/
bitrix/tmp/
bitrix/images/
bitrix/.settings.php
bitrix/.settings_extra.php
bitrix/php_interface/dbconn.php
bitrix/php_interface/init.php
bitrix/modules/

# Исключаем временные файлы и резервные копии
upload/tmp/
backup/
bitrix/backup/
*.log
*.tmp
*.tar.gz
*.zip
*.gz
*.txt

# Исключаем IDE-файлы
.idea/
.vscode/
*.iml
nbproject/
Thumbs.db
.DS_Store

# Исключаем файлы сборки
node_modules/
vendor/
.env
.env.local
.env.production
.env.test

# Исключаем кеш composer
/composer.lock
/vendor/

# Исключаем кэш фронтенда
/public/build/

# Исключаем другое
*.xml
*.yml
*.csv
*.config
*.restore
*.html
*.htm

# Исключаем медиафайлы
# Изображения
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp

# Видео
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.webm
*.3gp

# Аудио
*.mp3
*.wav
*.aac
*.ogg
*.flac
*.m4a
*.wma

# Исключаем файлы PDF и Microsoft Office
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# Исключаем кеш-файлы
.cache/
cache/